In [14]:
def solution(n, x):
    # print(n, x)
    cost = 0
    sales = 0
    for i in range(1, n+1):
        print(i)
        if x <= i:
            sales += i
            # print(sales)
            cost += x
    # print(sales, cost)
    return sales - cost

solution(n = 5, x= 2)

1
2
3
4
5

6

In [21]:
def sol(milk, dark):
    sat = 0
    for i in range(milk + dark):
        print('BEFORE--',milk, dark)
        if milk != 0:
            milk -= 1
        else:
            dark -= 1
        
        if milk != dark:
            sat += 1
        print('AFTER--',milk, dark)
        print('SATIFCASION', sat, '\n')
    
    return sat

sol(1, 2)

BEFORE-- 1 2
AFTER-- 0 2
SATIFCASION 1

BEFORE-- 0 2
AFTER-- 0 1
SATIFCASION 2

BEFORE-- 0 1
AFTER-- 0 0
SATIFCASION 2

2

In [2]:
D ="abccd"
# D.values()

from collections import Counter

Counter(D)

Counter({'c': 2, 'a': 1, 'b': 1, 'd': 1})

In [14]:
nums = [3,2,4]
nums = sorted(list(enumerate(nums)), key= lambda x: x[1])
nums

[(1, 2), (0, 3), (2, 4)]

In [21]:
strs = ["eat","tea","tan","ate","nat","bat"]
D = [{string: Counter(string)} for string in strs]
D

[{'eat': Counter({'e': 1, 'a': 1, 't': 1})},
 {'tea': Counter({'t': 1, 'e': 1, 'a': 1})},
 {'tan': Counter({'t': 1, 'a': 1, 'n': 1})},
 {'ate': Counter({'a': 1, 't': 1, 'e': 1})},
 {'nat': Counter({'n': 1, 'a': 1, 't': 1})},
 {'bat': Counter({'b': 1, 'a': 1, 't': 1})}]

In [31]:
D[0]['eat']

Counter({'e': 1, 'a': 1, 't': 1})

In [50]:
for i in range(len(D)):
    # key, val = D[i].items()
    print(next(iter(D[i].keys())))

eat
tea
tan
ate
nat
bat

In [54]:
D

[{'eat': Counter({'e': 1, 'a': 1, 't': 1})},
 {'tea': Counter({'t': 1, 'e': 1, 'a': 1})},
 {'tan': Counter({'t': 1, 'a': 1, 'n': 1})},
 {'ate': Counter({'a': 1, 't': 1, 'e': 1})},
 {'nat': Counter({'n': 1, 'a': 1, 't': 1})},
 {'bat': Counter({'b': 1, 'a': 1, 't': 1})}]

In [55]:
D[tuple(sorted("tea"))] = 1

TypeError: list indices must be integers or slices, not tuple

In [58]:
myD = {}
myD[tuple([2,3,2])] = 2
myD

{(2, 3, 2): 2}

In [60]:
"".join(str([3,3,4]))

'[3, 3, 4]'

In [9]:
nums = [1,2,3,4]
suff = [1]*len(nums)
for i in range(len(nums)-2, -1, -1):
    print(i)
    suff[i] = suff[i+1] * nums[i+1]
    
suff

2
1
0

[24, 12, 4, 1]

In [12]:
pref = [1]*len(nums)
for i in range(1, len(nums)):
    pref[i] = pref[i-1] * nums[i-1]
pref

[1, 1, 2, 6]

In [3]:
nums = [100,4,200,1,3,2, -2]
nums.sort()
print(nums)

[-2, 1, 2, 3, 4, 100, 200]

In [6]:
nums = set(nums)

In [8]:
for i in nums:
    print(i)

1
2
3
4
100
200
-2

In [10]:
set([0,3,7,2,5,8,4,6,0,1])

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
from collections import Counter

In [4]:
s = "ABCABC"
d = Counter(s)

In [1]:
# for key, val in d.items():

In [2]:
ord("a")

97

In [3]:
ord("f")

102

In [6]:
s = "a1"

In [7]:
ord("b")

98

In [11]:
def find_youngest_member(n, m, gifts):
    """
    Write your logic here.
    Parameters:
        n (int): Number of family members
        m (int): Number of gifts exchanged
        gifts (list of tuples): List of tuples where each tuple contains two integers (a_i, b_i)
    Returns:
        int: The number that represents the youngest member of the family or -1 if no such member is found
    """
    exchanged = [0]*(n+1)
    for gift in gifts:
        idx = gift[0]
        exchanged[idx] = 1
    print(exchanged)
    ans = 1
    for i in range(1, len(exchanged)):
        if not exchanged[i]:
            return i
            
    return -1

gifts = [
(1, 3),
(2, 3)
]
find_youngest_member(3, 2,gifts)

[0, 1, 1, 0]

3

In [21]:
adj = [[1, 2, 3], 
       [2, 1, 2]]

adj[:][1]

[2, 1, 2]

In [28]:
s = set()
s.add("a")

In [31]:
for i in s:
    print(i)

a

In [25]:
s.remove("a")

In [27]:
len(s)

0

'd'

In [34]:
def find_unique(arr, k):
    s = set()
    for char in arr:
        if char in s:
            s.remove(char)
        else:
            s.add(char)

    if len(s) < k:
        return -1

    print(s)
    ans = -1
    c = 1
    for char in s:
        if c == k:
            return char
        c += 1

    return -1

find_unique(['d', 'b', 'c', 'b', 'c', 'a'], 2)

{'a', 'd'}

'd'

In [37]:
s = 'ab'

In [2]:
D = {
    'a': 1,
    'b': 2
}

del D['a']

In [10]:
list(D.values())[0]

2

In [9]:
lst[0]

2